<!doctype html>
<html>
<%- include header %>
<body>
	<!-- 提示信息start -->
  <%- include flashInfo %>
  <!-- 提示信息end -->
  <!-- 主体内容start -->
  <%- include roomConfig %>
  <!-- 主体内容end -->
  	<!-- 脚本区块start -->
    <script src="/javascripts/config.js"></script>
  	<!-- 脚本区块end -->
</body>
</html>