<!doctype html>
<html>
<%- include header %>
<body>
  <!-- 提示信息start -->
  <%- include flashInfo %>
  <!-- 提示信息end -->
  <div class="container">
    <div class="span3 offset4">
    <h1>TeamChat</h1>
    <a class="" href="/signin">SignIn</a>
    <form method="post" style="max-width: 400px; margin: 0 auto 10px;">
      <input type="text" name="name" placeholder="userId" />
      <br>
      <input type="password" name="pwd" placeholder="password" />
      <br>
      <input type="email" name="email" placeholder="E-Mail" />
      <br>
      <button type="submit"  class="btn btn-large btn-block">Sign In</button>
    </form>
  </div>
  </div>

    <!-- 脚本区块start -->
  <script src="/javascripts/config.js"></script>
    <!-- 脚本区块end -->
</body>
</html>