<!doctype html>
<html>
<head>
<meta content="text/html; charset=utf-8">
<title><%= title %>-RTCA</title>
<link type="text/css" rel="stylesheet" href="stylesheets/bootstrap.css">
<link type="text/css" rel="stylesheet" href="stylesheets/bootstrap-re.css">
<link type="text/css" rel="stylesheet" href="stylesheets/googlestyle.css">
</head>
<body>
<div class="container">
 	<div class="row">
 		<div class="page-header">
  		<h1>Chat!~ V1.0<small>Let's free chat</small></h1>
		</div>
 	</div>
</div>
<div class="container">
 	<div class="row">
 	<div class="span6 offset3">
  	<div class="input-append">
  		<form method="post">
  			<input class="span2" id="appendedInputButton" type="text" placeholder="昵称">
  			<button class="btn btn-danger" type="submit">Enjoy!</button>
			</form>
		</div>
	</div>
	</div>
</div>
	<br>
  <br>
  <div class="well">
  	<center>RTCA ©2013</center> 
	</div>
<script src="http://cdnjs.bootcss.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="javascripts/bootstrap.js"></script>
</body>
</html>
