<%= locals.user.name %>
<%= locals.user.email %>
<%= locals.user.job %>
<%= locals.user.info %>
<form action="/room" method="GET">
	<input type="text" name="roomtitle" placeholder="search Rooms" class="search" />
</form>
<a href="/logout">logOut</a>